<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film Alchemy</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
</head>
<body>

  <nav>
      <h1>Film Alchemy</h1>
      <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/">About</a></li>
          <li><a href="/">Discover</a></li>
      </ul>
      <div class="search-form">
          <form action="/search" method="post">
              <input type="text" name="title" placeholder="Search..." aria-label="Search" required>
              <button type="submit"><i class="fa fa-search"></i></button>
          </form>
      </div>   
  </nav>
    
