@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #050505;
  font-family: Roboto, sans-serif;
}

.films {
  width: 85%;
  margin: 100px auto;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  row-gap: 100px;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.film_card {
  width: 200px;
  height: 300px;
  background: #121212;
  border-radius: 2px;
  color: #ffffff;
  position: relative;
}

.movie_poster {
  width: 100%;
  height: 75%;
  position: relative;
}

.movie_poster img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.movie_label {
  position: absolute;
  bottom: -23.5px;
  background: #ba2047;
  background: -webkit-gradient(linear, left bottom, left top, from(#ba2047), to(#e71d50));
  background: linear-gradient(0deg, #ba2047 0%, #e71d50 100%);
  color: white;
  width: auto;
  height: 40px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  text-align: center;
}

.movie_label h2 {
  margin: 0;
  font-size: 12px;
}

.movie_content {
  width: 100%;
  height: calc(100% - 75%);
}

.mov_specs {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 5px 8px 10px;
  font-size: 14px;
}

.mov_specs i {
  font-size: 18px;
  margin-right: 8px;
  color: #ffd014;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-form form {
  border: 1px solid #eee;
  background: #f9f9ff;
  border-radius: 50px;
}

.search-form form input {
  padding: 13px 20px;
  font-size: 14px;
  border: none;
  float: left;
  width: 80%;
  background: transparent;
}

.search-form form button {
  float: left;
  width: 20%;
  padding: 5px 4px 3px 15px;
  background: transparent;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-form form button i {
  padding: 12px;
  background: #ba2047;
  border-radius: 29px;
  color: #fff;
  font-size: 14px;
}

nav {
  width: 60%;
  margin: auto;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav h1 {
  color: white;
  text-transform: uppercase;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-links li {
  list-style: none;
}

nav .nav-links li a {
  color: white;
  text-decoration: none;
}

.movie-card {
  font-family: Montserrat, sans-serif;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60%;
  height: 100%;
  min-height: 500px;
  display: block;
  margin: 50px auto;
  border-radius: 8px;
  position: relative;
}

@media screen and (max-width: 800px) {
  .movie-card {
    width: 95%;
    max-width: 95%;
  }
}

@media screen and (max-width: 600px) {
  .movie-card {
    background-position: 50% 0%;
    background-size: cover;
    height: 400px;
  }
}

.movie-card__overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(167, 14, 14, 0.1)), color-stop(55%, #141414), to(#141414));
  background: linear-gradient(to right, rgba(167, 14, 14, 0.1) 0%, #141414 55%, #141414 100%);
  background-blend-mode: multiply;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@media screen and (max-width: 600px) {
  .movie-card__overlay {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(42, 159, 255, 0.2)), color-stop(60%, #212120), to(#212120));
    background: linear-gradient(to bottom, rgba(42, 159, 255, 0.2) 0%, #212120 60%, #212120 100%);
  }
}

.movie-card__content {
  height: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  float: right;
  padding-right: 1.2em;
  padding-bottom: 1em;
}

@media screen and (max-width: 1000px) {
  .movie-card__content {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .movie-card__content {
    margin-top: 4.2em;
    width: 100%;
    float: inherit;
    max-width: 100%;
    padding: 0 1em 1em;
  }
}

.movie-card__header {
  margin-bottom: 2em;
}

.movie-card__title {
  color: #ffffff;
  margin-bottom: .25em;
  opacity: .75;
}

.movie-card__info {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: .8em;
  color: #ba2047;
  line-height: 2;
  margin: 0;
  font-weight: 700;
  opacity: 1;
}

.movie-card__desc {
  color: white;
  font-weight: 300;
  opacity: .90;
  margin-bottom: 2em;
}

.btn {
  padding: .5rem 1.5rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
}

.btn-outline {
  background-color: transparent;
  border: 3px solid #ffffff;
}

.btn-outline:hover {
  border-color: #ba2047;
  color: #ba2047;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2);
          box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, 0.2);
}

/*-- Variables --*/
.title-card {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 400px .5fr 400px 2fr;
      grid-template-columns: 2fr 400px .5fr 400px 2fr;
      grid-template-areas: '. p . m .';
  color: white;
}

@media screen and (max-width: 1024px) {
  .title-card {
    -ms-grid-columns: 1fr 4fr 1fr 4fr 1fr;
        grid-template-columns: 1fr 4fr 1fr 4fr 1fr;
  }
}

@media screen and (max-width: 780px) {
  .title-card {
    -ms-grid-columns: 1fr 4fr 1fr;
        grid-template-columns: 1fr 4fr 1fr;
        grid-template-areas: '. p .' '. m .';
  }
}

@media screen and (max-width: 500px) {
  .title-card {
    -ms-grid-columns: .5fr 4fr .5fr;
        grid-template-columns: .5fr 4fr .5fr;
        grid-template-areas: '. p .' '. m .';
  }
}

.title-card .poster-wrapper {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: p;
}

.title-card .poster-wrapper .poster {
  position: relative;
  color: #fff;
}

@media screen and (max-width: 500px) {
  .title-card .poster-wrapper .poster {
    margin-bottom: 30px;
  }
}

.title-card .poster-wrapper .poster img {
  width: 100%;
  height: 100%;
}

.title-card .poster-wrapper .poster .release-date {
  position: absolute;
  top: 30px;
  left: -30px;
  background-color: #ba2047;
  padding: 10px;
  text-align: center;
}

.title-card .poster-wrapper .poster .release-date h2 {
  font-size: 42px;
  color: #fff;
}

.title-card .poster-wrapper .poster .release-date .divider {
  background-color: #fff;
  height: 2px;
  width: 20px;
  margin: 10px auto;
}

.title-card .poster-wrapper .poster .btn-play {
  position: absolute;
  bottom: 30px;
  right: -30px;
  background-color: #ba2047;
  padding: 15px;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.title-card .poster-wrapper .poster .btn-play:hover {
  background-color: #fdba2e;
}

.title-card .title-info {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: m;
}

.title-card .title-info > div {
  margin-bottom: 30px;
}

.title-card .title-info .header-section p {
  margin: 5px 0;
}

.title-card .title-info .header-section .extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .title-card .title-info .header-section .extra {
    display: block;
  }
}

.title-card .title-info .header-section .extra .ratings {
  margin-right: 50px;
  color: #fdba2e;
}

.title-card .title-info .header-section .extra .ratings p {
  font-size: 18px;
}

.title-card .title-info .header-section .extra .channels > span {
  margin-right: 5px;
}

.title-card .title-info .synopsis-section p {
  margin-top: 10px;
}

.title-card .title-info .cast-section .casts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title-card .title-info .cast-section .casts img {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.title-card .title-info .gallery-section .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(50px, 1fr))[autofit];
      grid-template-columns: repeat(autofit, minmax(50px, 1fr));
  grid-auto-rows: 75px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  grid-auto-flow: dense;
}

.title-card .title-info .gallery-section .gallery .small {
  grid-column: span 1;
}

.title-card .title-info .gallery-section .gallery .medium {
  grid-column: span 3;
}

.title-card .title-info .gallery-section .gallery img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */